.box {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageWrapper {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 500px) {
    flex-flow: column;
  }
  .tools {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    .toolButton {
      width: 100px;
      margin: 0.3rem;
    }
    @media screen and (max-width: 500px) {
      flex-flow: row;
    }
  }
}
