.container {
  width: 100%;
  padding: 0 2rem;
  @media screen and (max-width: 500px) {
    padding: 0;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 700px) {
    align-items: flex-start;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 500px) {
    flex-flow: column;
  }
}

.title a {
  color: #1a6901;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  @media screen and (max-width: 700px) {
    font-size: 2rem;
    text-align: left;
  }
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.handles {
  a {
    color: black;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.mx1 {
  padding: 0 0.3rem;
}

.date {
  color: black;
  opacity: 0.6;
  cursor: not-allowed;
  user-select: none;
}

.repo {
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  opacity: 0.9;
  svg {
    path {
      fill: white;
    }
  }
  &:hover {
    background-color: #fff;
    svg {
      path {
        fill: black;
      }
    }
  }
  @media screen and (max-width: 500px) {
    margin: 1rem 0;
  }
}

.dayLinks {
  display: grid;
  width: 100%;
  max-width: 600px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row: auto;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin: 0 auto;
  align-items: center;
  .link {
    cursor: pointer;
    opacity: 0.7;
    text-align: left;
    transition: transform 200ms cubic-bezier(0.79, -0.15, 0, 1.36);
    span:nth-child(2n + 2) {
      color: #1a6901;
      font-weight: bold;
    }
    span:nth-child(2n + 1) {
      margin: 0 0.3rem;
      color: rgb(3, 95, 3);
    }
    &:hover {
      opacity: 1;
    }
  }
}
